[submodule "embedded_software/middleware/NASA-cFS/cfe"]
	path = embedded_software/middleware/NASA-cFS/cfe
	url = https://github.com/renn0xtek9/cFE
	branch = main
[submodule "embedded_software/middleware/NASA-cFS/osal"]
	path = embedded_software/middleware/NASA-cFS/osal
	url = git@github.com:renn0xtek9/osal.git
[submodule "embedded_software/middleware/NASA-cFS/psp"]
	path = embedded_software/middleware/NASA-cFS/psp
	url = https://github.com/nasa/PSP.git
[submodule "embedded_software/middleware/NASA-cFS/apps/ci_lab"]
	path = embedded_software/middleware/NASA-cFS/apps/ci_lab
	url = https://github.com/nasa/ci_lab.git
[submodule "embedded_software/middleware/NASA-cFS/apps/sample_app"]
	path = embedded_software/middleware/NASA-cFS/apps/sample_app
	url = https://github.com/nasa/sample_app.git
[submodule "embedded_software/middleware/NASA-cFS/apps/sch_lab"]
	path = embedded_software/middleware/NASA-cFS/apps/sch_lab
	url = https://github.com/nasa/sch_lab.git
[submodule "embedded_software/middleware/NASA-cFS/apps/to_lab"]
	path = embedded_software/middleware/NASA-cFS/apps/to_lab
	url = https://github.com/nasa/to_lab.git
[submodule "embedded_software/middleware/NASA-cFS/libs/sample_lib"]
	path = embedded_software/middleware/NASA-cFS/libs/sample_lib
	url = https://github.com/nasa/sample_lib.git
[submodule "embedded_software/middleware/NASA-cFS/tools/GroundSystem"]
	path = embedded_software/middleware/NASA-cFS/tools/cFS-GroundSystem
	url = https://github.com/nasa/cFS-GroundSystem.git
[submodule "embedded_software/middleware/NASA-cFS/tools/elf2cfetbl"]
	path = embedded_software/middleware/NASA-cFS/tools/elf2cfetbl
	url = https://github.com/nasa/elf2cfetbl.git
